body{
/*  font-family: roboto;*/
  background:white;
  color: #5a90ba;
}

.navbar{
  background-color:rgba(66, 183, 202, 0.3);
  margin:0px;
  color:white;
  border: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-header .navbar-brand{
  color:white;
}

.navbar-default .navbar-header .navbar-brand:hover{
  color:#5a90ba;
}

.navbar-default .navbar-nav {
  margin-right: 20px;
}

.navbar-default .navbar-nav li .li-color{
  text-align: right;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-default .navbar-nav li .li-color:hover{
  color: #5a90ba;
}

.banner{
  min-height:590px;
  color:#5a90ba;
  padding-top:130px;
  text-align:center;
  background: white;
  background-position: 50% 80%;
  background-size: cover;
  background-repeat: no-repeat;
}

.head-block{
  margin-top: 190px;
}

h1{
  font-family: impact;
  margin-top: 10px;
}

h1::after{
    content: "";
    display:block;
    margin:5px auto 0;
    background-color:rgba(66, 183, 202, 1);
    width:150px;
    height: 3px;
}

.head-block-text{
  font-size: 25px;
  font-family:Roboto;
}

.portfolio{
  background:rgba(66, 183, 202, 0.3);
  padding-bottom: 60px;
}

.img-responsive{
  display: inline;
}

.title{
  margin-top: 30px;
  margin-bottom: 40px;
  padding-top: 20px;
  text-align:center;
  color:#5a90ba;
}

.portfolio-link{
  color:#46a850;
}

.portfolio-link:hover{
  color: #0de8ee;
}

.portfolo-description{
  margin:10px 20px 10px 20px;
  font-size: 16px;
  font-family: verdana;
}

.col-md-4{
  height: 424px;
}

.col-margin{
  margin-bottom:30px
}

.contact{
  min-height:400px;
  background: #ede3e1;
}

.about{
  min-height:500px;

}

.about-description{
  text-align: center;
    font-family: roboto;
  font-size: 27px;
  margin-bottom: 40px;
}

.social-btn{
  padding-top: 60px;
}

.btn-block{
  margin:10px 0px 10px 0px;
}

.contact-description{
  font-size: 22px;
  margin: 60px auto 30px auto;
}

.footer{
    min-height:40px;
    background:rgba(66, 183, 202, 0.3);
}

.footer-padding{
  padding: 20px 0px 20px 0px;
}

@media (max-width:768px){
  .text-full-size{text-align:center;}
  .img-xs-center{margin:0 auto;}
}

@media (max-width:450px){
h1 {font-size: 28px;}
.about-description{font-size:18px;}
.contact-description{font-size:18px;}
.portfolio-link{font-size: 12px;}
}

.transform-animation {
    transition: .2s;
}
.transform-animation:hover {
    transform: scale(1.1);
    color: #000;
    outline-color: #b0b0b0;
}
.transform-animation:after {
    display: inline-block;
    padding: 10px;
    content: attr(class);
}